* {
    margin: 0;
}

html {
    width: 1110px;
    margin: 0 auto;
}

body {
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

header {
    margin-top: 42px;
}

.flex {
    display: flex;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-axis-horizontal {
    flex-direction: row;
}

.flex-grow-1 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
}

/* .flex-justify-top {
    align-content: start;
} */

.content {
    margin-top: 60px;
}

.flex-gap-1 {
    column-gap: 36px;
}

.flex-self-center {
    align-self: center;
}

.flex-y-top {
    align-items: start;
}


.menu-item {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}

.tagline-title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 69px;
    margin-bottom: 20px;
}

.tagline-description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 158%;
    margin-bottom: 20px;
}

.button-main {
    padding: 14px 25px;
    background: #F2F0DF;
    border-radius: 19px;
    border: none;
}

.button-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 158%;
}

.button-text-2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 158%;
    text-decoration-line: underline;

    color: #000000;
}

.box {
    box-sizing: border-box;
    padding: 33px;

    width: 494px;
    height: 155px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 15px 9px 30px rgba(160, 160, 160, 0.25);
    border-radius: 19px;
}

.text-total {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 275;
    font-size: 33px;
    line-height: 158%;
    margin: 0px;
    padding-top: 5px;
}

.text-total-desc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 158%;
}

.size-expand {
    width: 100%;
}

.space-x-1 {
    width: 75px;
}

.space-y-2 {
    height: 15px;
}

.space-y-0 {
    height: 38px;
}

.menu-item:first-child:after {
    display: block;
    width: 15px;
    height: 1px;

    background: #000000;
    content: '';
}

.grid {
    display: grid;
    grid-template-columns: 256px 256px;
    row-gap: 24px;
    column-gap: 24px;
}

.grid-column-2 {
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid-1 {
    background: url("../assets/clothing3.jpg"), #D9D9D9;
    background-position: center;
    border-radius: 19px;
    height: 501px;
    background-size: cover;
}

.grid-2 {
    background: url("../assets/clothing1.jpg"), #D9D9D9;
    background-position: center;
    border-radius: 19px;
    background-size: cover;
}

.grid-3 {
    background: url("../assets/clothing2.jpg"), #D9D9D9;
    background-position: center;
    border-radius: 19px;
    background-size: cover;
}

.product {
    background: #FFFFFF;
    border-radius: 10px;
    margin: 16px;
    width: 100%;
    padding: 8px;
}

.product-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 158%;
    color: #000000;
}

.product-subname {
    width: 95px;
    height: 22px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 158%;
    /* or 22px */
    color: #505050;
}

.product-align-end {
    align-items: end;
}

.product-align-center {
    align-items: center;
}

.separator-vert {
    width: 44px;
    height: 0px;

    border: 1px solid #E4E4E4;
    transform: rotate(90deg);
}